<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :type, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :status, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>

      <H3>Phone Numbers</H3>
      <%= f.fields_for :PhoneNumbers do |phoneNumbers_form| %>
        <li>
          <%= phoneNumbers_form.label 'Type' %>
          <%= phoneNumbers_form.select :p_type, [['Mobile', 'Mobile'],['Office', 'Office'],['Other', 'Other']] %>
          <%= phoneNumbers_form.label 'Number' %>
          <%= phoneNumbers_form.text_field :p_number %>

        </li>
      <% end %>

      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  contacts_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
