<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped datatable" id="myTable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name('Mobile') %></th>
      <th><%= model_class.human_attribute_name('Office') %></th>
      <th><%= model_class.human_attribute_name('Home') %></th>
      <th><%= model_class.human_attribute_name('Other') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
          <td><%= contact.name %></td>
          <td><%= contact.type %></td>
        <td><%= contact.PhoneNumbers.where(p_type: "Mobile").first.p_number if contact.PhoneNumbers.where(p_type: "Mobile").present? %></td>
        <td><%= contact.PhoneNumbers.where(p_type: "Office").first.p_number if contact.PhoneNumbers.where(p_type: "Office").present? %></td>
        <td><%= contact.PhoneNumbers.where(p_type: "Home").first.p_number if contact.PhoneNumbers.where(p_type: "Home").present? %></td>
        <td><%= contact.PhoneNumbers.where(p_type: "Other").first.p_number if contact.PhoneNumbers.where(p_type: "Other").present? %></td>

        <td>
          <%= link_to contact_path(contact), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to edit_contact_path(contact), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to contact_path(contact), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_path,
            :class => 'btn btn-primary' %>


<script type="application/javascript">
  //$('.datatable').DataTable({
    // ajax: ...,
    //autoWidth: false,
    //pagingType: 'full_numbers'
    // processing: true,
    // serverSide: true,

    // Optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about available options.
    // http://datatables.net/reference/option/pagingType
  //});

</script>

<style>

  .dataTables_filter {
    text-align: right;
  }

  .dataTables_paginate {
    text-align: right;
  }

</style>
